* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather", sans-serif;
}

.header--principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3092EE;
  padding: 0 20px 20px 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ebebeb;
}
.header--principal .logo img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.nav--header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
.nav--header ul li {
  list-style: none;
  margin-right: 50px;
}
.nav--header ul a {
  color: white;
  font-family: "Merriweather", sans-serif;
}

.header__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 35px;
}
.header__busqueda:hover {
  text-decoration: none;
}
.header__busqueda img {
  margin-right: 10px;
}
.header__busqueda span {
  color: white;
  font-family: "Merriweather", sans-serif;
}

.contenedor--cajas {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.caja {
  max-width: 430px;
}

.contenedor--cajas .caja a {
  text-decoration: none;
  color: white;
  font-family: "Merriweather", sans-serif;
}

.contenido {
  margin-bottom: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.caja--con-fondo {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  overflow: hidden;
  background-color: #3092EE;
}
.caja--con-fondo img {
  display: block;
  max-width: 100%;
  max-height: auto;
  position: absolute;
  opacity: 0.5;
  -o-object-fit: contain;
     object-fit: contain;
}
.caja--con-fondo__contenido {
  padding: 20px;
  position: absolute;
  text-align: center;
  color: white;
}
.caja--con-fondo__contenido p {
  color: white;
}
.caja--con-fondo__contenido h3 {
  color: white;
}
.caja--con-fondo__categoria {
  display: block;
  width: auto;
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: #EC7835;
  color: white;
  font-family: "Merriweather", sans-serif;
}

.caja--grande {
  max-width: 1000px;
  height: 550px;
  margin-right: 20px;
}
.caja--grande h2 {
  font-family: "Merriweather", sans-serif;
}
.caja--grande .caja--con-fondo__contenido {
  padding-top: 200px;
}

.caja--mediana {
  max-width: 600px;
  height: 250px;
}

.caja--pequena {
  max-width: 300px;
  height: 250px;
}

.contenedor--home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1200px;
  width: 1300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.caja--grande {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.sidebar--listado {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.caja-store {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.caja-contact {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.caja-comment {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}