doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&family=Roboto:wght@300&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        title Home
    body 
        header.header--principal
            .logo.logo--header: img(src="./images/guitarra.png", alt="Logo-keyl")
            nav.nav--header: ul
                    li: a(href="#") Home
                    li: a(href="#") Store
                    li: a(href="#") Contact
                    li: a(href="#") Comment
            a(href="#" class="header__busqueda")
                img(src="./images/simbolo-de-la-interfaz-de-busqueda.png", alt="") 
                span Search

