.footer--principal {
    display: flex;
    background-color: $color-primario;
    padding: 0 20px 20px 0px;
    max-width: 100%;
    height: 70px;
    margin: 30px 10px 20px 10px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 50px;
    .logo img {
        width: 100px;
        margin-top: -15%;
    }
}
.nav--footer ul {
    display: flex;
    padding-top: 10px;
    li {
        list-style: none;
        margin-right: 50px;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.2);
            a {
                text-decoration: none;
            }
        }
    }
    a {
        color: $color-claro;
        @include titulos($Fuente1);
    }
}
.nav--social {
        display: flex;
        margin-left: auto;
    ul {
        display: flex;
        padding-top: 10px;
    }
    li {
        list-style: none;
        margin-right: 20px;
        color: $color-claro; 
    }
    a {
        color: $color-claro;
        @include titulos($Fuente1);
        .fab {
            transition: transform 0.5s;
            font-size: 20px;
            &:hover {
            transform: scale(1.5);
            }
        }
    }
}