//Estilos header de navegación
.header--principal {
    display: flex;
    background-color: $color-primario;
    max-width: 100%;
    height: 70px;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 50px;
    & > img {
        width: 100%;
        max-height: 70px;
        position: absolute;
        top: 30px;
        right: 10px;
        padding-left: 50px;
        opacity: .05;
        object-fit:cover;
        z-index: 1;
        border-radius: 50px;
    }
    .logo {
        height: 100px;
        margin-top: -15px;
        background-color: $color-primario;
        @include caja;
        border-radius: 50%;
        transition: transform 1s;
        position: relative; 
        z-index: 3;
        &:hover {
            transform: rotate(360deg);
        }
        img {
        width: 100px;
        transform: scale(0.7);
        }
    }
    @include caja;
}
//Estilos barra de navegacion
.nav--header {
    width: 50%;
    display: flex;
    align-items: center;
    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        z-index: 3;
        li {
            list-style: none;
            transition: transform 0.2s;
            &:hover {
                transform: scale(1.2);
                a {
                    text-decoration: none;
                }
            }
        }
        a {
            color: $color-claro;
            @include titulos($Fuente1);
        }
    }
}
//Estilos barra de busqueda
.header__busqueda {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    align-items: center;
    margin-right: 30px;
    transition: transform 0.2s;
    z-index: 3;
    text-decoration: none;
    &:hover {
        transform: scale(1.1);
        i {
        transform: scale(1.5);
        }
    }
    i {
        font-size: 20px;
        margin-right: 5px;
        color: $color-claro;
        transition: transform 0.2s;
    }
    span {
        color: $color-claro;
        @include titulos($Fuente1);
        @include font-size(20px);
    }
    &--search {
        display: none;
    }
}