.contenedor--home {
    width: 100%;
    margin: auto 10px;
    padding: 20px;
    @include display-grid;
    @include grid-template-columns(repeat(auto-fit, minmax(200px, 1fr)));
    @include grid-column-gap(20px);
    @include grid-row-gap(50px);
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: row;
    grid-template-areas: 
        "grande grande grande sidebar sidebar"
        "grande grande grande sidebar sidebar"
        "galeria store store contact comment";
    flex-wrap: wrap;
    overflow: hidden;
}

.caja--grande {
    grid-area: grande;
}

.sidebar--listado {
    grid-area: sidebar;
}

.caja-galeria {
    grid-area: galeria;
}

.caja-store {
    grid-area: store;
}

.caja-contact {
    grid-area: contact;
}
.caja-comment {
    grid-area: comment;
}
