.contenido--store {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	margin-top: 30px;
	i {
		display: none;
	}
    .caja {
        max-width: 300px;
        min-width: 200px;
        margin: 20px;
        button {
            @include button;
        }
		&:hover {
			margin: 0;
			padding-top: 200px;
			left: 50px;
			transform: scale(1.35);
		}
    }
}
.encabezado--con-filtros {
	display: flex;
	width: 90%;
	padding: 0 0 0 8%;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	justify-content: center;
	h2 {
		padding: 0 5% 0 0;
		font-size: 30px;
        color: $color-claro;
		@include titulos($Fuente1);
		line-height: 30px;
	}
	.filtros {
		width: 250px;
		height: 60px;
		padding: 20px;
        display: flex;
        justify-content:space-evenly;
		@include caja;
	}
		span {
			@include titulos($Fuente1);
		}
		a {
            text-decoration: none;
			color: #ccc;
			font-size: 20px;
            transition: transform .2s;
			margin-left: 3px;
            &:hover {
                transform: scale(1.2);
            }
		}
}