footer.footer--principal
	.logo.logo--footer: img(src="/images/llavero.png", alt="Logo-keyl")
	nav.nav--footer: ul
		li: a(href="index.html") Home
		li: a(href="store.html") Store
		li: a(href="galery.html") Galery
		li: a(href="contact.html") Contact
		li: a(href="comment.html") Comment
	.nav--social: ul
		li Siguenos
		li: a(href="#"): i.fab.fa-instagram
		li: a(href="#"): i.fab.fa-pinterest
		li: a(href="#"): i.fab.fa-twitter
		li: a(href="#"): i.fab.fa-facebook-f