footer.footer--principal
	.logo.logo--footer: img(src="/images/guitarra.png", alt="Logo-keyl")
	nav.nav--footer: ul
		li: a(href="#") Home
		li: a(href="#") Store
		li: a(href="#") Contact
		li: a(href="#") Comment
	.nav--social: ul
		li Siguenos
		li: a(href="#"): i.fab.fa-instagram
		li: a(href="#"): i.fab.fa-pinterest
		li: a(href="#"): i.fab.fa-twitter
		li: a(href="#"): i.fab.fa-facebook-f