header.header--principal
    .logo.logo--header: img(src="../images/llavero.png", alt="Logo-keyl")
    img(src="/images/navidad.png", alt="")
    nav.nav--header: ul
        li: a(href="index.html") Home
        li: a(href="store.html") Store
        li: a(href="galery.html") Galery
        li: a(href="contact.html") Contact
        li: a(href="comment.html") Comment
    a(href="#" class="header__busqueda")
        input(type="search" class="header__busqueda--search" id="site-search" name="q")
        i.fas.fa-search 
        span Search