extend componentes/plantilla.pug
block contenidos
    section.comment
        h1 Dejanos tu Opinión
        .comment__input
            form(action="", method="post")
                ul
                    li 
                        label(for="Name") 
                        input(type="text" id="name" name="name" placeholder="Nombre" required)
                    li 
                        label(for="Email") 
                        input(type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="30" name="email"  placeholder="Correo" required)
                    li 
                        label(for="tel")  
                        input(type="tel" id="tel" name="tel" placeholder="Telefono" required)
                    li 
                        label(for="comment")
                        textarea(id="comment" maxlength="250" name="comment" placeholder="Deja tu comentario aqui" required)
                    button(type="submit" name="Enviar" id="Enviar" value="Enviar") Enviar
        .comment__before
            h3 Opiniones Recientes 
            .comment__before--history
                .comment__before--history-div
                    +listado-categoria('JuanCA. ','muy buenos profecionales, y muy buenos productos, la atencion es excelente')
                    +listado-categoria('Leonsito. ','llengan rapido los productos, ademas que su atencion es excelente')
                    +listado-categoria('Mateusa. ','Excelente Servicio, Me agrada su atención')
                    +listado-categoria('Mateusa. ','Excelente Servicio, Me agrada su atención')
                    +listado-categoria('Mateusa. ','Excelente Servicio, Me agrada su atención')
                    +listado-categoria('JuanCA. ','muy buenos profecionales, y muy buenos productos, la atencion es excelente')
                    +listado-categoria('Leonsito. ','llengan rapido los productos, ademas que su atencion es excelente')
                    +listado-categoria('Mateusa. ','Excelente Servicio, Me agrada su atención')
                    +listado-categoria('Mateusa. ','Excelente Servicio, Me agrada su atención')
                    +listado-categoria('Mateusa. ','Excelente Servicio, Me agrada su atención')
