extend componentes/plantilla.pug
block contenidos
    section.intro
        header.encabezado--con-filtros
            h2 Galeria de Diseños
            .filtros
                span Filtrar Por
                a(href="#" class="fa fa-th-large")
                a(href="#" class="fa fa-bars")
    section.disenos 
        +caja("1","diseno_1.jpeg", "Huellas", "", "", "Solicitar")
        +caja("2","diseno_2.jpeg", "Matrimonio", "", "", "Solicitar")
        +caja("3","diseno_3.jpeg", "Buhos", "", "", "Solicitar")
        +caja("1","diseno_4.jpeg", "Huellas", "", "", "Solicitar")
        +caja("2","diseno_5.jpeg", "Matrimonio", "", "", "Solicitar")
        +caja("3","diseno_6.jpeg", "Buhos", "", "", "Solicitar")
        +caja("1","diseno_7.jpeg", "Huellas", "", "", "Solicitar")
        +caja("2","diseno_8.jpeg", "Matrimonio", "", "", "Solicitar")
        +caja("3","diseno_9.jpeg", "Buhos", "", "", "Solicitar")