extend componentes/plantilla.pug
block contenidos
    section.intro
        header.encabezado--con-filtros
            h2 Galeria de Diseños
            .filtros
                span Filtrar Por
                a(href="#" class="fa fa-th-large")
                a(href="#" class="fa fa-bars")
    section.disenos 
        +caja("1","diseño_1.jpeg", "Huellas", "", "", "Solicitar")
        +caja("2","diseño_2.jpeg", "Matrimonio", "", "", "Solicitar")
        +caja("3","diseño_3.jpeg", "Buhos", "", "", "Solicitar")
        +caja("1","diseño_4.jpeg", "Huellas", "", "", "Solicitar")
        +caja("2","diseño_5.jpeg", "Matrimonio", "", "", "Solicitar")
        +caja("3","diseño_6.jpeg", "Buhos", "", "", "Solicitar")
        +caja("1","diseño_7.jpeg", "Huellas", "", "", "Solicitar")
        +caja("2","diseño_8.jpeg", "Matrimonio", "", "", "Solicitar")
        +caja("3","diseño_9.jpeg", "Buhos", "", "", "Solicitar")