extend componentes/plantilla.pug
block contenidos
    section.intro
        header.encabezado--con-filtros
            h2 Galeria de Diseños
            .filtros
                span Filtrar Por
                a(href="#" class="fa fa-th-large")
                a(href="#" class="fa fa-bars")
    section.disenos 
        +caja("1","diseno_1.jpeg", "Perritos", "", "", "Solicitar")
        +caja("2","diseno_2.jpeg", "Dragon Ball", "", "", "Solicitar")
        +caja("3","diseno_3.jpeg", "Emojis", "", "", "Solicitar")
        +caja("1","diseno_4.jpeg", "Animado", "", "", "Solicitar")
        +caja("2","diseno_5.jpeg", "Harry Pott.", "", "", "Solicitar")
        +caja("3","diseno_6.jpeg", "Sirenas", "", "", "Solicitar")
        +caja("1","diseno_7.jpeg", "Buhos", "", "", "Solicitar")
        +caja("2","diseno_8.jpeg", "Ovejas", "", "", "Solicitar")
        +caja("3","diseno_9.jpeg", "Calaveras", "", "", "Solicitar")