extend componentes/plantilla.pug
block contenidos
    section.intro
        header.encabezado--con-filtros
            h2 Tienda de llaveros
            .filtros
                span Filtrar Por
                a(href="#" class="fa fa-th-large")
                a(href="#" class="fa fa-bars")
        section.contenido--store
            +caja("1","imagen1.jpg", "Huellas", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("2","imagen2.jpg", "Matrimonio", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("3","imagen3.jpg", "Buhos", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("1","imagen1.jpg", "Huellas", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("2","imagen2.jpg", "Matrimonio", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("3","imagen3.jpg", "Buhos", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("1","imagen1.jpg", "Huellas", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("2","imagen2.jpg", "Matrimonio", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")
            +caja("3","imagen3.jpg", "Buhos", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos")