extend componentes/plantilla.pug
block contenidos
    section.intro
        header.encabezado--con-filtros
            h2 Tienda de llaveros
            .filtros
                span Filtrar Por
                a(href="#" class="fa fa-th-large")
                a(href="#" class="fa fa-bars")
        section.contenido--store
            +caja("1","imagen1.jpg", "Huellas", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("2","imagen2.jpg", "Matrimonio", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("3","imagen3.jpg", "Buhos", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("1","imagen4.jpg", "Perritos", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("2","imagen5.jpg", "Mickey", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("3","imagen6.jpg", "Comida", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("1","imagen7.jpg", "Figuras", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("2","imagen8.jpg", "Guitarra", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")
            +caja("3","imagen9.jpg", "Cine", "$ 5.000 COP", "Hermoso llavero de porcelanicron, nuevos diseños y atractivos", "Comprar")